@import 'modules/colors';

@mixin header-padding($horizontal, $vertical) {
  padding-left: $horizontal;
  padding-right: $horizontal;
  padding-top: $vertical;
  padding-bottom: $vertical;
}

.container {
  // display: flex;
  // flex-direction: column;
  font-family: Helvetica;
}

header {
  color: white;
  width: 100%;
  background-color: $dark-purple;
  @include header-padding(100px, 70px);
  h1 {
    font-size: 44px;
    font-weight: 400;
    letter-spacing: -1;
    line-height: 45px;
    margin: 0;
  }
  button {
    font-size: 17px;
    background-color: $light-pink;
    height: 60px;
    width: 211px;
    border: 0;
    border-radius: 30px;
  }
  .textContainer {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
    h4 {
      margin: 0 0 5px 0;
      color: #919191;
      font-weight: 100;
    }
    span {
      font-size: 16px;
      font-weight: 200;
    }
    .current {
      margin-right: 60px;
    }
    .previous {

    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  padding-left: 80px;
  padding-right: 80px;
}
